astroid==2.6.6
backports.entry-points-selectable==1.1.0
cfgv==3.3.0
distlib==0.3.2
filelock==3.0.12
identify==2.2.13
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
nodeenv==1.6.0
platformdirs==2.2.0
pre-commit==2.14.0
pylint==2.9.6
PyYAML==5.4.1
six==1.16.0
toml==0.10.2
virtualenv==20.7.2
wrapt==1.12.1
